.contato{
  margin: 80px 0;

  h2{
    @include titulos-h2;
  }

  .container{
    display: flex;
    align-items: center;

    @include mobile-large{
      flex-direction: column-reverse;
    }
  }

  .contato__map,
  .contato__form{
    flex: 1;
  }
}

.contato__map{
  margin-right: 56px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 24px rgba(
    $color: $color-font-verde-dark, 
    $alpha: .2
  );
  
  @include tablet{
    margin-right: 24px;
  }
  @include mobile-large{
    margin: 24px 0 0 0;
  }
}

.contato__form{
  width: 100%;

  label{
    @include contato-label; 
  }
  input{
    @include contato-input;
  }
  textarea{
    @include contato_textarea;
  }
  button{
    width: 100%;
    margin-top: 24px;
    display: block;
    font-size: 1.5rem;
    border: none;

    @include tablet{
      font-size: 1.125rem;
    }
  }
}