.header__info{
  padding: 8px 0;
  background-color: $color-verde-dark;
  color: $color-font-white;

  .container{
    display: flex;
    gap: 8px;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;

    p{
      padding: 8px 0;
      font-family: $font-2-rubik;
      font-size: 1.125rem;
    }
  }
}

.header__menu{
  width: 100%;
  padding: 16px 0;
  background-color: $color-verde-medio;
  position: relative;

  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    @include mobile-small{
      width: 60%;
    }
  }

  .menu__nav{
    display: flex;
    align-items: center;

    .nav--botaomobile{
      display: none;
      
      @include tablet{
        width: 30px;
        height: 24px;
        display: block;
        position: relative;
        color: $color-font-white;
        border-top: 4px solid;
        backface-visibility: hidden;
        cursor: pointer;

        &::after, &::before{
          content: '';
          height: 4px;
          margin-top: 6px;
          display: block;
          position: relative;
          background-color: currentColor;
          transition: all .3s;
        }
      }
    }

    .nav--botaomobile.ativo{
      @include tablet{
        border-top-color: transparent;
      }
    }

    .nav--botaomobile.ativo::after{
      @include tablet{
        margin-top: 0px;
        top: 2px;
        transform: rotate(45deg);
        transition: all .25s;
      }
    }
  
    .nav--botaomobile.ativo::before{
      @include tablet{
        margin-top: 0px;
        top: 6px;
        transform: rotate(135deg);
        transition: all .25s;
      }
    }

    .menu__nav__link{
      display: flex;

      @include tablet{
        display: none;
        background-color: $color-verde-medio;
        border-radius: 4px;
      }
    }

    .menu__nav__link.ativo{
      @include tablet{
        width: calc(100% - 48px);
        margin-top: 8px;
        padding: 24px;
        position: absolute;
        top: 78px;
        left: 24px;
        z-index: 2;
        display: block;
      }
    }

    a{
      margin-left: 48px;
      padding: 10px 0;
      display: block;
      color: $color-font-white;
      font-family: $font-2-rubik;
      font-size: 1.125rem;

      @include tablet{
        margin-left: 0;
        padding: 16px 0;
        text-align: center;
      }
    }
  }
}