.intro{
  margin: 80px 0;
  padding: 100px 0;
  background-image: url(/public/images/bg-info.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  p::after{
    content: '';
    width: 60px;
    height: 3px;
    margin: 24px auto;
    display: block;
    background-color: $color-font-white;
  }

  p{
    max-width: 80%;
    margin: 0 auto;
    color: $color-font-white;
    font-family: $font-1-gilroy;
    font-size: 4rem;
    font-style: italic;

    @include tablet{
      font-size: 3rem;
    }
    @include mobile-large{
      font-size: 2rem;
    }
  }

  small{
    margin: 0 auto;
    display: block;
    color: $color-font-white;
    font-family: $font-2-rubik;
    font-size: 1.125rem;
  }

  @include tablet{
    padding: 60px 0;
  }
}