main{
  padding-top: 24px;
  position: relative;
  animation: show-bottom 1.3s forwards;
  
  .container{
    color: black;
    display: flex;
    align-items: center;
    
    .main__infos,
    .main__img{
      flex: 1;
    }

    @include tablet{
      flex-direction: column-reverse;
    }
  }
}

.main__infos{

  .main__titulo{
    margin-bottom: 16px;
    color: $color-font-verde-dark;
    font-family: $font-1-gilroy;
    font-size: 2.75rem;

    @include tablet{
      text-align: center;
    }
    @include mobile-small{
      margin-bottom: 24px;
      font-size: 2rem;
    }
  }
  .main__corpotexto{
    max-width: 440px;
    margin-bottom: 24px;
    color: $color-font-verde-medio;
    font-family: $font-2-rubik;
    font-size: 1.125rem;

    @include tablet{
      margin: 0 auto 24px auto;
      text-align: center;
    }
  }
  .main__botao{
    
    @include tablet{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include mobile-small{
      text-align: center;
    }
  }
  
}

.main__img{
  width: 100%;
}

#principal.ativo{
  filter: blur(4px);
}