main{
  padding: 16px 0;

  .container{
    color: black;
    display: flex;
    align-items: center;
    
    .main__infos,
    .main__img{
      flex: 1;
    }
  }
}

.main__infos{

  .main__titulo{
    margin-bottom: 24px;
    color: $color-font-verde-dark;
    font-family: $font-1-gilroy;
    font-size: 2.75rem;
  }
  .main__corpotexto{
    max-width: 440px;
    margin-bottom: 24px;
    color: $color-font-verde-medio;
    font-family: $font-2-rubik;
    font-size: 1.125rem;
  }
}