.btn{
  margin: 8px 8px 8px 0;
  padding: 16px 32px;
  display: inline-block;
  background-color: $color-verde-medio;
  color: $color-font-white;
  font-family: $font-2-rubik;
  font-size: 1.125rem;
  cursor: pointer;

  &:hover{
    transition: all .2s;
    background-color: rgba(
      $color: $color-verde-medio, 
      $alpha: .9
    );
  }
}

.btn--outline{
  margin: 8px 8px 8px 0;
  padding: 16px 32px;
  display: inline-block;
  background-color: transparent;
  color: $color-font-verde-medio;
  font-family: $font-2-rubik;
  font-size: 1.125rem;
  cursor: pointer;
  border: 1px solid $color-font-verde-medio;
}
