@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile-large {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin mobile-small {
  @media screen and (max-width: 375px) {
    @content;
  }
}