@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap");
@-webkit-keyframes show-top {
  from {
    top: 0;
  }
  to {
    top: 80px;
  }
}
@keyframes show-top {
  from {
    top: 0;
  }
  to {
    top: 80px;
  }
}

@-webkit-keyframes show-bottom {
  from {
    bottom: -80px;
  }
  to {
    bottom: 0px;
  }
}

@keyframes show-bottom {
  from {
    bottom: -80px;
  }
  to {
    bottom: 0px;
  }
}

[data-anime] {
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

[data-anime="topo"] {
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
}

[data-anime="esquerda"] {
  -webkit-transform: translate3d(-50px, 0, 0);
          transform: translate3d(-50px, 0, 0);
}

[data-anime="direita"] {
  -webkit-transform: translate3d(50px, 0, 0);
          transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body.ativo {
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.btn {
  margin: 8px 8px 8px 0;
  padding: 16px 32px;
  display: inline-block;
  background-color: #1B5E20;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  cursor: pointer;
}

.btn:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: rgba(27, 94, 32, 0.9);
}

.btn--outline {
  margin: 8px 8px 8px 0;
  padding: 16px 32px;
  display: inline-block;
  background-color: transparent;
  color: #223112;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  cursor: pointer;
  border: 1px solid #223112;
}

@media screen and (max-width: 425px) {
  .btn--outline {
    margin: 8px auto;
  }
}

.header__info {
  padding: 8px 0;
  background-color: #0F3412;
  color: #FFFFFF;
}

.header__info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info .container p {
  padding: 8px 0;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

.header__menu {
  width: 100%;
  padding: 16px 0;
  background-color: #1B5E20;
  position: relative;
}

.header__menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .header__menu .logo {
    width: 60%;
  }
}

.header__menu .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu .menu__nav .nav--botaomobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .header__menu .menu__nav .nav--botaomobile {
    width: 30px;
    height: 24px;
    display: block;
    position: relative;
    color: #FFFFFF;
    border-top: 4px solid;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    cursor: pointer;
  }
  .header__menu .menu__nav .nav--botaomobile::after, .header__menu .menu__nav .nav--botaomobile::before {
    content: '';
    height: 4px;
    margin-top: 6px;
    display: block;
    position: relative;
    background-color: currentColor;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
}

@media screen and (max-width: 768px) {
  .header__menu .menu__nav .nav--botaomobile.ativo {
    border-top-color: transparent;
  }
}

@media screen and (max-width: 768px) {
  .header__menu .menu__nav .nav--botaomobile.ativo::after {
    margin-top: 0px;
    top: 2px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transition: all .25s;
    transition: all .25s;
  }
}

@media screen and (max-width: 768px) {
  .header__menu .menu__nav .nav--botaomobile.ativo::before {
    margin-top: 0px;
    top: 6px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    -webkit-transition: all .25s;
    transition: all .25s;
  }
}

.header__menu .menu__nav .menu__nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header__menu .menu__nav .menu__nav__link {
    display: none;
    background-color: #1B5E20;
    border-radius: 4px;
  }
}

@media screen and (max-width: 768px) {
  .header__menu .menu__nav .menu__nav__link.ativo {
    width: calc(100% - 48px);
    margin-top: 8px;
    padding: 24px;
    position: absolute;
    top: 78px;
    left: 24px;
    z-index: 2;
    display: block;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-animation: show-top .6s;
            animation: show-top .6s;
  }
}

.header__menu .menu__nav a {
  margin-left: 48px;
  padding: 10px 0;
  display: block;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

.header__menu .menu__nav a::after {
  content: '';
  width: 0px;
  height: 2px;
  margin-top: 1px;
  display: block;
  background-color: #FFFFFF;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 768px) {
  .header__menu .menu__nav a::after {
    display: none;
  }
}

.header__menu .menu__nav a:hover::after {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__menu .menu__nav a {
    margin-left: 0;
    padding: 16px 0;
    text-align: center;
  }
}

main {
  padding-top: 24px;
  position: relative;
  -webkit-animation: show-bottom 1.3s forwards;
          animation: show-bottom 1.3s forwards;
}

main .container {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .main__infos,
main .container .main__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (max-width: 768px) {
  main .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.main__infos .main__titulo {
  margin-bottom: 16px;
  color: #081A09;
  font-family: "Gilroy";
  font-size: 2.75rem;
}

@media screen and (max-width: 768px) {
  .main__infos .main__titulo {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .main__infos .main__titulo {
    margin-bottom: 24px;
    font-size: 2rem;
  }
}

.main__infos .main__corpotexto {
  max-width: 440px;
  margin-bottom: 24px;
  color: #223112;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

@media screen and (max-width: 768px) {
  .main__infos .main__corpotexto {
    margin: 0 auto 24px auto;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .main__infos .main__botao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .main__infos .main__botao {
    text-align: center;
  }
}

.main__img {
  width: 100%;
}

#principal.ativo {
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.intro {
  margin: 80px 0;
  padding: 100px 0;
  background-image: url("/public/images/bg-info.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.intro p::after {
  content: '';
  width: 60px;
  height: 3px;
  margin: 24px auto;
  display: block;
  background-color: #FFFFFF;
}

.intro p {
  max-width: 80%;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Gilroy";
  font-size: 4rem;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .intro p {
    font-size: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .intro p {
    font-size: 2rem;
  }
}

.intro small {
  margin: 0 auto;
  display: block;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 60px 0;
  }
}

.produtos {
  padding: 80px 0;
}

.produtos h2 {
  margin-bottom: 60px;
  color: #081A09;
  font-family: "Gilroy";
  font-size: 2.5rem;
  text-align: center;
}

.grid__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .grid__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 425px) {
  .grid__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    justify-items: center;
  }
}

.grid__itens {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 24px rgba(8, 26, 9, 0.2);
          box-shadow: 0 0 24px rgba(8, 26, 9, 0.2);
}

.grid__itens .grid__itens__preco {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  background-color: #65B168;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
}

.grid__itens .grid__itens__titulo {
  padding: 16px;
  color: #081A09;
  font-family: "Gilroy";
  font-size: 1.5rem;
  text-align: center;
}

.grid__itens .grid__itens__intro {
  padding: 0 16px;
  color: #223112;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}

.grid__itens .grid__itens__lista {
  margin: 24px 0;
  padding: 0 24px;
  color: #223112;
  font-family: "Rubik", sans-serif;
}

.grid__itens .grid__itens__lista li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0;
}

.grid__itens .grid__itens__lista li::before {
  content: '';
  width: 5px;
  height: 5px;
  margin: auto 8px;
  display: inline-block;
  background-color: #65B168;
  border: 1px solid #081A09;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .grid__itens .grid__itens__lista {
    padding: 0 16px;
  }
}

.contato {
  margin: 80px 0;
}

.contato h2 {
  margin-bottom: 60px;
  color: #081A09;
  font-family: "Gilroy";
  font-size: 2.5rem;
  text-align: center;
}

.contato .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 576px) {
  .contato .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.contato .contato__map,
.contato .contato__form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contato__map {
  margin-right: 56px;
  overflow: hidden;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 24px rgba(8, 26, 9, 0.2);
          box-shadow: 0 0 24px rgba(8, 26, 9, 0.2);
}

@media screen and (max-width: 768px) {
  .contato__map {
    margin-right: 24px;
  }
}

@media screen and (max-width: 576px) {
  .contato__map {
    margin: 24px 0 0 0;
  }
}

.contato__form {
  width: 100%;
}

.contato__form label {
  margin-bottom: 8px;
  display: block;
  color: #081A09;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.contato__form input {
  width: 100%;
  margin: 8px 0 16px 0;
  padding: 16px 8px;
  display: block;
  color: #223112;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  border: 2px solid #1B5E20;
  border-radius: 4px;
}

.contato__form textarea {
  width: 100%;
  height: 150px;
  margin: 8px 0 16px 0;
  padding: 8px;
  display: block;
  color: #223112;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  border: 2px solid #1B5E20;
  border-radius: 4px;
}

.contato__form button {
  width: 100%;
  margin-top: 24px;
  display: block;
  font-size: 1.5rem;
  border: none;
}

@media screen and (max-width: 768px) {
  .contato__form button {
    font-size: 1.125rem;
  }
}

.footer {
  margin-top: 100px;
}

.footer__social {
  padding: 32px 0;
  background-color: #1B5E20;
}

.footer__social .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social .container > div {
  margin-left: 100px;
}

@media screen and (max-width: 768px) {
  .footer__social .container > div {
    margin-left: 40px;
  }
}

@media screen and (max-width: 576px) {
  .footer__social .container > div {
    margin: 24px 0 0 0;
  }
}

@media screen and (max-width: 576px) {
  .footer__social .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__social .footer__info h4 {
  padding: 8px 0 16px 0;
  color: #FFFFFF;
  font-family: "Gilroy";
  font-size: 1.5rem;
}

.footer__social .footer__info li {
  padding: 8px 0;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

@media screen and (max-width: 576px) {
  .footer__social .footer__info {
    text-align: center;
  }
}

.footer__social .footer__redesocial h4 {
  padding: 8px 0 16px 0;
  color: #FFFFFF;
  font-family: "Gilroy";
  font-size: 1.5rem;
}

.footer__social .footer__redesocial .footer__redesocial__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social .footer__redesocial .footer__redesocial__flex svg:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-filter: invert(14%) sepia(20%) saturate(1486%) hue-rotate(46deg) brightness(13%) contrast(90%);
          filter: invert(14%) sepia(20%) saturate(1486%) hue-rotate(46deg) brightness(13%) contrast(90%);
}

.atribuicao {
  padding: 24px;
  background-color: #0F3412;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  text-align: center;
}

.atribuicao a {
  color: #FFFFFF;
  text-decoration: underline;
}

.atribuicao a:hover {
  color: #65B168;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/*# sourceMappingURL=style.css.map */