@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}

.btn {
  margin: 8px 8px 8px 0;
  padding: 16px 32px;
  display: inline-block;
  background-color: #1B5E20;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  cursor: pointer;
}

.btn:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  background-color: rgba(27, 94, 32, 0.9);
}

.btn--outline {
  margin: 8px 8px 8px 0;
  padding: 16px 32px;
  display: inline-block;
  background-color: transparent;
  color: #223112;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  cursor: pointer;
  border: 1px solid #223112;
}

.header__info {
  padding: 8px 0;
  background-color: #0F3412;
  color: #FFFFFF;
}

.header__info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info .container p {
  padding: 8px 0;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

.header__menu {
  width: 100%;
  padding: 24px 0;
  background-color: #1B5E20;
}

.header__menu .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu .menu__nav .menu__nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
}

.header__menu .menu__nav a {
  padding: 10px 0;
  display: block;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

main {
  padding: 16px 0;
}

main .container {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container .main__infos,
main .container .main__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main__infos .main__titulo {
  margin-bottom: 24px;
  color: #081A09;
  font-family: "Gilroy";
  font-size: 2.75rem;
}

.main__infos .main__corpotexto {
  max-width: 440px;
  margin-bottom: 24px;
  color: #223112;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

.intro {
  margin: 80px 0;
  padding: 100px 0;
  background-image: url(/public/images/bg-info.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.intro p::after {
  content: '';
  width: 60px;
  height: 3px;
  margin: 24px auto;
  display: block;
  background-color: #FFFFFF;
}

.intro p {
  max-width: 80%;
  margin: 0 auto;
  color: #FFFFFF;
  font-family: "Gilroy";
  font-size: 4rem;
  font-style: italic;
}

.intro small {
  margin: 0 auto;
  display: block;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

.produtos {
  padding: 80px 0;
}

.produtos h2 {
  margin-bottom: 40px;
  color: #081A09;
  font-family: "Gilroy";
  font-size: 2.5rem;
  text-align: center;
}

.grid__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.grid__itens {
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 0 0 24px rgba(8, 26, 9, 0.2);
          box-shadow: 0 0 24px rgba(8, 26, 9, 0.2);
}

.grid__itens .grid__itens__preco {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px 16px;
  background-color: #65B168;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
}

.grid__itens .grid__itens__titulo {
  padding: 16px;
  color: #081A09;
  font-family: "Gilroy";
  font-size: 1.5rem;
  text-align: center;
}

.grid__itens .grid__itens__intro {
  padding: 0 16px;
  color: #223112;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
}

.grid__itens .grid__itens__lista {
  margin: 24px 0;
  padding: 0 24px;
  color: #223112;
  font-family: "Rubik", sans-serif;
}

.grid__itens .grid__itens__lista li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0;
}

.grid__itens .grid__itens__lista li::before {
  content: '';
  width: 5px;
  height: 5px;
  margin: auto 8px;
  display: inline-block;
  background-color: #65B168;
  border: 1px solid #081A09;
  border-radius: 50%;
}

.contato {
  margin: 80px 0;
}

.contato h2 {
  margin-bottom: 40px;
  color: #081A09;
  font-family: "Gilroy";
  font-size: 2.5rem;
  text-align: center;
}

.contato .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.contato .contato__map,
.contato .contato__form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contato__map {
  overflow: hidden;
  border-radius: 8px;
}

.contato__form label {
  margin-bottom: 8px;
  display: block;
  color: #081A09;
  font-family: "Rubik", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.contato__form input {
  width: 100%;
  margin: 8px 0 16px 0;
  padding: 16px 8px;
  display: block;
  color: #223112;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  border: 2px solid #1B5E20;
  border-radius: 4px;
}

.contato__form textarea {
  width: 100%;
  height: 150px;
  margin: 8px 0 16px 0;
  padding: 8px;
  display: block;
  color: #223112;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  border: 2px solid #1B5E20;
  border-radius: 4px;
}

.contato__form button {
  width: 100%;
  margin-top: 24px;
  display: block;
  font-size: 1.5rem;
  border: none;
}

.footer {
  margin-top: 100px;
}

.footer__social {
  padding: 32px 0;
  background-color: #1B5E20;
}

.footer__social .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.footer__social .footer__info h4 {
  padding: 16px 0;
  color: #FFFFFF;
  font-family: "Gilroy";
  font-size: 1.5rem;
}

.footer__social .footer__info li {
  padding: 8px 0;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1.125rem;
}

.footer__social .footer__redesocial h4 {
  padding: 16px 0;
  color: #FFFFFF;
  font-family: "Gilroy";
  font-size: 1.5rem;
}

.footer__social .footer__redesocial .footer__redesocial__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__social .footer__redesocial .footer__redesocial__flex svg:hover {
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-filter: invert(14%) sepia(20%) saturate(1486%) hue-rotate(46deg) brightness(13%) contrast(90%);
          filter: invert(14%) sepia(20%) saturate(1486%) hue-rotate(46deg) brightness(13%) contrast(90%);
}

.atribuicao {
  padding: 24px 0;
  background-color: #0F3412;
  color: #FFFFFF;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  letter-spacing: .4px;
  text-align: center;
}

.atribuicao a {
  color: #FFFFFF;
  text-decoration: underline;
}

.atribuicao a:hover {
  color: #65B168;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
/*# sourceMappingURL=style.css.map */